<div class="container mx-auto p-6 bg-gray-100 min-h-screen">
    <nav class="bg-gray-100 text-white py-4 mb-6">
      <div class="flex items-center space-x-4 px-4">
        <button
        class="bg-blue-600 text-white w-10 h-10 rounded-full flex items-center justify-center hover:bg-blue-700"
        (click)="listComponent()">
        ←
      </button>
        <span class="text-2xl font-bold text-black">Registro de Queixa ou Participação</span>
      </div>
    </nav>
  
    <form [formGroup]="registroForm" class="bg-white shadow rounded-lg p-6 space-y-4" (ngSubmit)="onSubmit()">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Formulário de Registro</h1>
      <p class="text-gray-600 mb-2">Por favor, preencha os campos abaixo para registrar sua queixa ou participação.</p>
  
      <!-- Dados do Queixante -->
      <div>
        <h2 class="text-xl font-semibold text-gray-700 mb-4">Dados do Queixante</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="nome" class="block text-gray-700 font-medium">Nome Completo</label>
            <input type="text" id="nome" formControlName="nome" class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Seu nome completo">
          </div>
          <div>
            <label for="identificacao" class="block text-gray-700 font-medium">Número do BI/Passaporte</label>
            <input type="text" id="identificacao" formControlName="identificacao"class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Número de identificação">
          </div>
          <div>
            <label for="telefone" class="block text-gray-700 font-medium">Telefone</label>
            <input type="tel" id="telefone" formControlName="telefone" mask=" 000-000-000" prefix="+244"
            class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Número de telefone">
          </div>
          <div>
            <label for="email" class="block text-gray-700 font-medium">E-mail</label>
            <input type="email" id="email" formControlName="email"class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Seu e-mail">
          </div>
        </div>
      </div>
  
      <!-- Detalhes do Incidente -->
      <div>
        <h2 class="text-xl font-semibold text-gray-700 mb-4">Detalhes do Incidente</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="tipo" class="block text-gray-700 font-medium">Tipo de Registro</label>
            <select id="tipo" formControlName="tipo"class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50">
              <option value="Queixa">Queixa</option>
              <option value="Participação">Participação</option>
            </select>
          </div>
          <div>
            <label for="data" class="block text-gray-700 font-medium">Data do Incidente</label>
            <input type="date" id="data" formControlName="data"class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50">
          </div>
          <div>
            <label for="local" class="block text-gray-700 font-medium">Local do Incidente</label>
            <input type="text" id="local" formControlName="local"class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Local onde ocorreu">
          </div>
          <div>
            <label for="criminiso" class="block text-gray-700 font-medium">Criminoso</label>
            <input 
              type="text" 
              id="criminiso" 
              formControlName="criminiso"
              (click)="openModal()" 
              class="flex h-9 w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
              placeholder="Clique para selecionar um criminoso"
              readonly
            >
          </div>
          
        </div>
        <div>
          <label for="descricao" class="block text-gray-700 font-medium">Descrição</label>
          <textarea id="descricao" rows="4" formControlName="descricao"class="flex w-full rounded-md focus:border-blue-500 border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50" placeholder="Descreva o ocorrido"></textarea>
        </div>
      </div>
  
      <!-- Botões -->
      <div class="flex justify-end space-x-4">
        <button type="reset" class="bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-400">Limpar</button>
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Salvar</button>
      </div>
    </form>
  </div>
  
  <!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
    <h2 class="text-xl font-semibold mb-4">Selecione um Criminoso</h2>
    <ul class="space-y-2">
      <li *ngFor="let criminoso of criminosos" (click)="selectCriminoso(criminoso)"
        class="cursor-pointer hover:bg-gray-100 p-2 rounded flex items-center space-x-4 transition-colors">
        <img [src]="criminoso.foto[0]" alt="Foto do {{ criminoso.apelido }}"
          class="w-16 h-16 object-cover border rounded-full" />
        <span class="text-base font-medium text-gray-800">
          Apelido: {{ criminoso.apelido }}
        </span>
        <span class="text-base font-medium text-gray-800">
          Nome do Completo : {{ criminoso.nome }}
        </span>
      </li>

    </ul>
    <div class="flex justify-end mt-4">
      <button (click)="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded-md">Fechar</button>
    </div>
  </div>
</div>