 <!-- Tabela de Logs (oculta inicialmente) -->
 <div id="logs-table" class="mt-4 overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
      <thead>
          <tr>
              <th class="px-4 py-2 border-b text-left">Data</th>
              <th class="px-4 py-2 border-b text-left">Usuário</th>
              <th class="px-4 py-2 border-b text-left">Ação</th>
              <th class="px-4 py-2 border-b text-left">Descrição</th>
              <th class="px-4 py-2 border-b text-left">IP</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td class="px-4 py-2 border-b">2025-01-02</td>
              <td class="px-4 py-2 border-b">Kene Conde</td>
              <td class="px-4 py-2 border-b">Login</td>
              <td class="px-4 py-2 border-b">Usuário autenticado</td>
              <td class="px-4 py-2 border-b">192.168.1.1</td>
          </tr>
          <tr>
              <td class="px-4 py-2 border-b">2025-01-02</td>
              <td class="px-4 py-2 border-b">Kene Conde</td>
              <td class="px-4 py-2 border-b">Consulta</td>
              <td class="px-4 py-2 border-b">Consultou ficha criminal</td>
              <td class="px-4 py-2 border-b">192.168.1.2</td>
          </tr>
          <tr>
              <td class="px-4 py-2 border-b">2025-01-02</td>
              <td class="px-4 py-2 border-b">Kene Conde</td>
              <td class="px-4 py-2 border-b">Logout</td>
              <td class="px-4 py-2 border-b">Usuário desconectado</td>
              <td class="px-4 py-2 border-b">192.168.1.1</td>
          </tr>
      </tbody>
  </table>
</div>