<div class="hidden sm:block h-full sidebar bg-blue-700 text-white p-6">
  <ul class="space-y-4">
    <li><a href="#" class="hover:bg-blue-800 p-2 rounded-md block">PNA</a></li>
    <li><a routerLink="/home/criminal-records"  class="hover:bg-blue-800 p-2 rounded-md block">Fichas Criminais</a></li>
    <li><a routerLink="/home/reports" class="hover:bg-blue-800 p-2 rounded-md block">Relatórios</a></li>
    <li><a routerLink="/home/settings"  class="hover:bg-blue-800 p-2 rounded-md block">Configurações</a></li>
  </ul>
</div>
